# Gmail API
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=

# Telegram
TELEGRAM_BOT_TOKEN=

# Database
DATABASE_URL=

# Gemini AI
GEMINI_API_KEY=

# App
SECRET_KEY=
FRONTEND_URL=https://bzorp.vercel.app
BACKEND_URL=https://bzorp.pxxl.pro
SCHEDULER_TIME=08:00
